{% extends 'clients/base.html' %}

{% block content %}
    <h1>New Service for: <b>{{ car.brand}} {{ car.model }} {{ car.year}} </B></h1>
    <h2>Owner: <b>{{ client.firstName }} {{ client.lastName }} </b></h2><br>
    <form method="post">
        {% csrf_token %}        
        
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="{{ form.description.id_for_label }}">Description:</label>
                {{ form.description }}
            </div>
            <div class="form-group col-md-6">
                <label for="{{ form.status.id_for_label }}">Status:</label>
                {{ form.status }}
            </div>
        </div>
        
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="{{ form.mechanic.id_for_label }}">Mechanic:</label>
                {{ form.mechanic }}
            </div>
            <div class="form-group col-md-6">
                <label for="{{ form.cost.id_for_label }}">Cost:</label>
                {{ form.cost }}
            </div>
        </div>
        
        <div class="form-group">
            <label for="{{ form.comments.id_for_label }}">Comments:</label>
            {{ form.comments }}
        </div>
        
        <div class="form-group">
            <label for="{{ form.services.id_for_label }}">Services:</label>
            <div class="border p-3">
                {% for choice in form.services %}
                    <div class="form-check">
                        {{ choice }}
                        {{ choice.label }}
                    </div>
                {% endfor %}
            </div>
        </div>
        
        <button type="submit" class="btn btn-primary">Create Service</button>
    </form>
{% endblock %}
